img{
    width: 300px;
    height: auto;
    padding: 10px;
    object-fit:cover;
}
.container{
    width: 80%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin:50px auto;
    justify-content: space-evenly;
}